/*
TODO
* Unify behind hub- namespace
*/

.hub-heading {
}
.hub-heading .hub-avatar {
	float: left;
	margin-right: 0.5em;
}
.hub-heading .hub-avatar img {
	border-radius: 2px;
}
.hub-heading  .hub-byline {
	margin: 0 0 .25em 0;
}

.hub-heading .hub-byline .hub-author { font-weight: bold; }
.hub-heading .hub-timestamp {
	font-size: 0.75em;
	float: right;
	display: none;
}
.hub-heading .hub-timestamp:hover {
	text-decoration:underline;
	cursor: pointer;
}
.hub-content:hover .hub-timestamp {
	display: block;
}
.hub-item {
	border-bottom: 1px solid #E8E8E8;
	clear: both;
	min-height: 48px;
}

.hub-body-html {
	overflow: hidden;
}

.hub-body-html p { margin: 0 0 .5em 0; }

.hub-attachment-photo img {
	width: 100%;
}

/*
 * Clearfix
 */
.hub-group:before,
.hub-group:after {
    content: "";
    display: table;
} 
.hub-group:after {
    clear: both;
}
.hub-group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
