<!DOCTYPE html>
<html>
<head>
    <title>StreamHub Backbone Example</title>
    <script src="http://zor.t402.livefyre.com/wjs/v3.0.sdk/javascripts/livefyre.js"></script>
    <script src="streamhub-backbone.almond.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div id="container">
  <h1>StreamHub Backbone</h1>
  <div id="example">
  </div>
</div>
<script type="text/javascript">
// Now to load the example
require(['streamhub-backbone'],
function(Hub){
    function loadApp (sdk) {
        var app = new Hub({
            sdk: sdk,
            collection: {
                siteId: "303772",
                articleId: "prod0"
            },
            el: document.getElementById("example")
        }).start();
    }
    fyre.conv.load({
        network: "largetail-0.fyre.co"
    }, [{app: 'sdk'}], loadApp);
});
</script>
</body>
</html>