<!-- StreamHub RSS Template -->
<article data-hub-content-id="{{ id }}">
    <div class="hub-heading">
        <p class="hub-byline">
            {{#feedEntry}}
                <a class="hub-src-link" href="{{ feedEntry.link }}" target="_blank" title="{{{ feedEntry.title }}}">{{{ feedEntry.title }}}</a>
            {{/feedEntry}}
            <a class="hub-timestamp">{{formattedCreatedAt}}</a>
        </p>
    </div>
    <div class="hub-body">
        <div class="hub-body-html">
        {{{ bodyHtml }}}
        </div>
        <div class="hub-attachments">
        {{ #attachments }}
            {{ # url }}
            <div class="hub-attachment hub-attachment-photo">
                <img src="{{ url }}" onerror="(function(img) { var attachment = img.parentNode; attachment.parentNode.removeChild(attachment); }(this));" />
            </div>
            {{ / url }}
            {{ # html }}
            <div class="hub-attachment hub-attachment-rich">
                {{{ html }}}
            </div>
            {{ / html }}
        {{ /attachments }}
        </div>
    </div>
</article>
<!-- /StreamHub RSS Template -->